In [42]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [43]:
cm_data = pd.read_csv('/Users/anithasmac/Downloads/Copper_Set.csv')

/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_8819/3279747896.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  cm_data = pd.read_csv('/Users/anithasmac/Downloads/Copper_Set.csv')

In [44]:
cm_data.head()

,id,item_date,quantity tons,customer,country,status,item type,application,thickness,width,material_ref,product_ref,delivery date,selling_price
0,EC06F063-9DF0-440C-8764-0B0C05A4F6AE,20210401.0,54.151139,30156308.0,28.0,Won,W,10.0,2.00,1500.0,DEQ1 S460MC,1670798778,20210701.0,854.00
1,4E5F4B3D-DDDF-499D-AFDE-A3227EC49425,20210401.0,768.024839,30202938.0,25.0,Won,W,41.0,0.80,1210.0,0000000000000000000000000000000000104991,1668701718,20210401.0,1047.00
2,E140FF1B-2407-4C02-A0DD-780A093B1158,20210401.0,386.127949,30153963.0,30.0,Won,WI,28.0,0.38,952.0,S0380700,628377,20210101.0,644.33
3,F8D507A0-9C62-4EFE-831E-33E1DA53BB50,20210401.0,202.411065,30349574.0,32.0,Won,S,59.0,2.30,1317.0,DX51D+ZM310MAO 2.3X1317,1668701718,20210101.0,768.00
4,4E1C4E78-152B-430A-8094-ADD889C9D0AD,20210401.0,785.526262,30211560.0,28.0,Won,W,10.0,4.00,2000.0,2_S275JR+AR-CL1,640665,20210301.0,577.00

In [22]:
cm_data.shape

(181673, 14)

In [23]:
cm_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181673 entries, 0 to 181672
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             181671 non-null  object
 1   item_date      181672 non-null  float64
 2   quantity tons  181673 non-null  object
 3   customer       181672 non-null  float64
 4   country        181645 non-null  float64
 5   status         181671 non-null  object
 6   item type      181673 non-null  object
 7   application    181649 non-null  float64
 8   thickness      181672 non-null  float64
 9   width          181673 non-null  float64
 10  material_ref   103754 non-null  object
 11  product_ref    181673 non-null  int64
 12  delivery date  181672 non-null  float64
 13  selling_price  181672 non-null  float64
dtypes: float64(8), int64(1), object(5)
memory usage: 19.4+ MB

In [11]:
cm_data.columns

Index(['id', 'item_date', 'quantity tons', 'customer', 'country', 'status',
       'item type', 'application', 'thickness', 'width', 'material_ref',
       'product_ref', 'delivery date', 'selling_price'],
      dtype='object')

In [13]:
cm_data.status.value_counts()

status
Won                116010
Lost                34438
Not lost for AM     19573
Revised              4276
To be approved       4170
Draft                3140
Offered                53
Offerable              10
Wonderful               1
Name: count, dtype: int64

### Remove other data points apart from Won & Lost

In [45]:
rows=['Won','Lost']
cm_data = cm_data[cm_data.status.isin(rows)]

In [46]:
cm_data.shape

(150448, 14)

In [47]:
cm_data.status.value_counts()

status
Won     116010
Lost     34438
Name: count, dtype: int64

In [28]:
cm_data.isnull().sum()

id                   1
item_date            1
quantity tons        0
customer             1
country              4
status               0
item type            0
application          3
thickness            0
width                0
material_ref     62799
product_ref          0
delivery date        1
selling_price        1
dtype: int64

In [39]:
cm_data['material_ref'].value_counts(dropna=False)

material_ref
NaN                              62799
DX51D+Z                            851
DC01 RED.FLAT KUCHNIA EKO 2.2      776
G9010                              623
DC01                               600
                                 ...
DX51DZ275-1324X0.8                   1
DX52DZ100-1242X0.3                   1
M5648                                1
M5649                                1
202006170005.IO.1.1                  1
Name: count, Length: 15821, dtype: int64

### Fill invalid material reference data with nan

In [48]:
cm_data['material_ref'] = np.where(cm_data['material_ref'].str.startswith('000'), np.nan, cm_data['material_ref'])

### Drop id column

In [50]:
cm_data.drop('id', axis=1, inplace=True)

In [54]:
cm_data.dtypes

item_date        float64
quantity tons     object
customer         float64
country          float64
status            object
item type         object
application      float64
thickness        float64
width            float64
material_ref      object
product_ref        int64
delivery date    float64
selling_price    float64
dtype: object

In [55]:
cm_data['item_date'] = pd.to_datetime(cm_data['item_date'])
cm_data['delivery date'] = pd.to_datetime(cm_data['delivery date'])
cm_data['quantity tons'] = cm_data['quantity tons'].astype(float)

ValueError: could not convert string to float: 'e'

In [56]:
#use numeric to overcome above error
cm_data['quantity tons'] = pd.to_numeric(cm_data['quantity tons'], errors='coerce')

In [57]:
cm_data.dtypes

item_date        datetime64[ns]
quantity tons           float64
customer                float64
country                 float64
status                   object
item type                object
application             float64
thickness               float64
width                   float64
material_ref             object
product_ref               int64
delivery date    datetime64[ns]
selling_price           float64
dtype: object

In [61]:
cm_data.isnull().sum()

item_date            0
quantity tons        1
customer             1
country              4
status               0
item type            0
application          3
thickness            0
width                0
material_ref     82427
product_ref          0
delivery date        0
selling_price        1
dtype: int64

In [66]:
print(cm_data['country'].skew())
print(cm_data['selling_price'].skew())
print(cm_data['application'].skew())
print(cm_data['quantity tons'].skew())
print(cm_data['customer'].skew())

0.708332808880156
141.32824934254472
0.751003495429995
53.79183379070325
223.89313537879417

In [ ]:
#if the data is numerical
#if data is normal => mean imputation
#if data is not normal => median imputation

#if the data is categorical
#mode 
#bfill/ffill

In [67]:
# Fill the empty values for numerical columns
cm_data['item_date'].fillna(cm_data['item_date'].max(), inplace=True)
cm_data['delivery date'].fillna(cm_data['delivery date'].max(), inplace=True)
cm_data['country'].fillna(cm_data['country'].median(), inplace=True)
cm_data['selling_price'].fillna(cm_data['selling_price'].median(), inplace=True)
cm_data['application'].fillna(cm_data['application'].median(), inplace=True)
cm_data['quantity tons'].fillna(cm_data['quantity tons'].median(), inplace=True)
cm_data['customer'].fillna(cm_data['customer'].median(), inplace=True)

/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_8819/1670348046.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cm_data['item_date'].fillna(cm_data['item_date'].max(), inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_8819/1670348046.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cm_data['delivery date'].fillna(cm_data['delivery date'].max(), inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_8819/1670348046.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cm_data['selling_price'].fillna(cm_data['selling_price'].median(), inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_8819/1670348046.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cm_data['application'].fillna(cm_data['application'].median(), inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_8819/1670348046.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cm_data['quantity tons'].fillna(cm_data['quantity tons'].median(), inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_8819/1670348046.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cm_data['customer'].fillna(cm_data['customer'].median(), inplace=True)

In [73]:
# Fill the empty values for categorical columns
cm_data['material_ref'].fillna(cm_data['material_ref'].mode()[0], inplace=True)

In [74]:
cm_data.isnull().sum()

item_date        0
quantity tons    0
customer         0
country          0
status           0
item type        0
application      0
thickness        0
width            0
material_ref     0
product_ref      0
delivery date    0
selling_price    0
dtype: int64

In [76]:
cm_data[cm_data.duplicated()]

Empty DataFrame
Columns: [item_date, quantity tons, customer, country, status, item type, application, thickness, width, material_ref, product_ref, delivery date, selling_price]
Index: []

In [77]:
cm_data.to_csv('Copper_data_cleaned.csv', index=False)